.btn {
	transition: 0.2s;
	border-radius: @button-border-radius;
	border: none;

	&:hover {
	   -moz-box-shadow:    inset 0 5px 5px darken(@purple, 5%);
	   -webkit-box-shadow: inset 0 5px 5px darken(@purple, 5%);
	   box-shadow:         inset 0 5px 5px darken(@purple, 5%);
	}
}

.cta-primary {
	background-color: @purple;
	color: rgba(0, 0, 0, @button-text-opacity);
}

.cta-primary {

}