/* ---------- Button elements ----------------*/
@button-primary-bg-color: @purple;
@button-secondary-bg-color: @blue;
@button-tertiary-bg-color: @purple-light;  
@button-text-color: @black;
@button-text-opacity: 0.38;