.homepage {
	margin-top: 10%;
	.center {
		text-align: center;
	}
	
	.caption {
		color: @input-color;
		font-size: 40px;
		font-weight: 20;
		font-family: Lato-Light;
		margin-top: 80px;
		margin-bottom: 20px;
	}

}