

/*---------- Colors ----------*/
@base: #f938ab;
@purple: #8886FC;
@black: #676767;
@blue: #78CAFF;
@purple-light: #789EFF;

/*---------- Fonts ----------*/
@font-semibold: Lato-Semibold;
@font-heavy: Lato-Heavy;
@font-light: Lato-Light;
@font-regular: Lato-Regular;

/*---------- Text ----------*/
@title-font-size: 30px;
@title-font-colour: #676767;
@title-font-family: Lato-Semibold;
@header-font-family: Lato-Heavy;
@header-font-size: 15px;
@header-content-font-size: 25px;

/* ---------- Inputs elements ----------------*/
@input-border-color-light:#EAEAEA;
@input-color:#C8C8C8;
@input-font-size:15px;
@input-font-weight:100;
@input-text-color:	darken(@input-color, 30%);
@input-font-family: @font-light;
@input-horizontal-padding: 20px;
@input-vertical-padding: 25px;

/* ---------- Button elements ----------------*/
@button-primary-bg-color: @purple;
@button-secondary-bg-color: @blue;
@button-tertiary-bg-color: @purple-light;  
@button-text-color: @black;
@button-text-opacity: 0.38;
@button-border-radius: 30px;
