<div class="col-sm-4 side-bar-form fadeInLeft animated">
  	<div class="side-bar-overlay">
  		<div class="bounceInDown animated">
  			<a class="logo" href="/">FAMESCAN</a>
  		</div>
  	</div>
</div>
<div class="col-sm-8 zoomInUp animated" style="height:100%; padding-left:100px;">
<h1>Editing Profile</h1>

<%= render 'form' %>

<%= link_to 'Show', @profile %> |
<%= link_to 'Back', profiles_path %>
</div> 