<style type="text/css">
html, body {
	height: 100%;
}
</style>
<div class="col-md-6" style="height:100%">
	<div class="profile-img-container">
		<div class="profile-img"> hello </div>
	</div>
</div>
<div class="col-md-6" style="height:100%">
	<div class="profile-img-container-2">
		<div class="profile-img"> hello </div>
	</div>
</div>
